.register {
    border: 2px solid #00aff0;
    border-left-width: 30px;

    .register_main {
        text-align: center;
        .register_logo {
            display: flex;
            align-items: end;
            gap: 16px;
            .line {
                width: 100%;
                display: inline-block;
                height: 3px;
                background: #00aff0;
            }
            img {
                width: 150px;
                height: auto;
            }
        }
        .line_hr {
            width: 100%;
            display: inline-block;
            height: 3px;
            background: #00aff0;
        }
        .form_sub_title {
            color: #00aff0;
            text-transform: uppercase;
        }
        .fill_form_title {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
            .line {
                width: 100%;
                max-width: 150px;
                display: inline-block;
                height: 3px;
                background: #739157;
            }
            h6 {
                text-transform: uppercase;
                display: block;
                color: #e14037;
            }
        }
    }
    .register_form {
        margin: 10px;
        .register_date {
            position: relative;
            width: fit-content;
            margin-left: auto;
            label {
                position: absolute;
                left: 4px;
                top: 50%;
                transform: translateY(-50%);
            }
            input {
                padding: 4px 4px 4px 50px;
            }
        }
        .form_organs {
            display: flex;
            column-gap: 12px;
            flex-flow: wrap;
        }
        .slogen {
            font-size: 32px;
            color: #338258;
            font-weight: 700;
            margin-bottom: 0;
        }
        .bottom-part {
            position: relative;
            margin-bottom: 16px;
            .line {
                display: flex;
                gap: 6px;
                span {
                    display: block;
                    width: 8px;
                    height: 40px;
                    background-color: #00aff0;
                }
                span.long {
                    width: 100%;
                }
            }
            .email {
                position: absolute;
                right: 0;
                top: 0;
                p {
                    width: fit-content;
                    margin-bottom: 0;
                    background-color: #000;
                    color: #fff;
                    height: 40px;
                    line-height: 40px;
                    padding: 0 10px;
                    font-size: 18px;
                    font-weight: 700;
                    position: relative;
                    &:after {
                        content: " ";
                        border-bottom: 40px solid #000;
                        border-left: 40px solid transparent;
                        width: 0;
                        position: absolute;
                        right: 100%;
                    }
                }
                .top {
                    height: 40px;
                    position: relative;
                    background: #00aff0;
                    width: 50%;
                    margin: -40px 0 0 auto;
                    &:after {
                        content: " ";
                        border-bottom: 40px solid #00aff0;
                        border-left: 40px solid transparent;
                        width: 0;
                        position: absolute;
                        right: 100%;
                    }
                }
            }
        }
    }
}
@media (max-width: 992px) {
    .register {
        .register_form {
            .slogen {
                font-size: 22px;
            }
            .bottom-part {
                .email {
                    p {
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .register {
        .register_form {
            .slogen {
                font-size: 16px;
            }
            .bottom-part {
                .email {
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
@media (max-width: 576px) {
    .register {
        .register_form {
            .slogen {
                font-size: 14px;
            }
            .bottom-part {
                margin-top: 40px;
                .email {
                    p {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}
